.dropdown-link {
  display: flex;
  align-items: center;
  gap: 4px; /* atau 2px untuk lebih rapat */
  padding: 6px 12px;
  color: #333;
  font-weight: 400;
  text-decoration: none;
  text-align: left;
  width: 100%;           /* penting agar span bisa mengikuti lebar penuh */
  justify-content: flex-start; /* pastikan semua ke kiri */
}

.dropdown-link img {
  width: 26px;  /* Sesuaikan ukuran ikon */
  height: 26px;
  display: inline-block;

}

.dropdown-link img {
  margin-right: 2px; /* Atau 2px jika ingin lebih mepet */
  vertical-align: middle;
}
